@import "tailwindcss";

.red-hover{
    background-color: #f6f6f6;
}

.red-clr{
    background-color: #E50914;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.loader-spinner {
  width: 80px;
  height: 80px;
  border: 5px solid #e50914;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 10px #e50914aa;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


html {
  transition: background 0.3s, color 0.3s;
}

